@import "normalize";
@import "mixins";

body,
html {
  font-size:16px;
  font-family:"ヒラギノ角ゴ Pro W3","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","Hiragino Kaku Gothic ProN",Arial,Helvetica,"メイリオ",Meiryo,sans-serif;
  line-height:1.6;
  color:#333;
}


img {
  max-width:100%;
  height:auto;
  vertical-align:top;
}


.brand {
  margin:60px 0;
  font-size:28px;
  font-weight:bold;
  & + .block {
    margin-top:60px;
  }
}


.container {
  width:700px;
  margin:0 auto;

  @include m(image) {
    min-width:1200px;
    text-align:center;
  }
}


.block {
  margin:80px 0;

  @include e(title) {
    font-size:24px;
  }

  @include e(items) {
    margin-left:-50px;
    font-size:0;
    zoom:1;
    &:after {
      content:"";
      clear:both;
      display:block;
    }
  }
}


.item {
  display:inline-block;
  width:300px;
  margin:0 0 50px 50px;
  font-size:16px;
  text-align:center;

  @include e(title) {
    display:block;
    text-align:left;
  }

  @include e(link) {
    display:block;
    overflow:hidden;
    max-height:450px;
    border:1px solid darken(#fff, 5%);
    border-radius:3px;
    transition:all .2s ease-out;
    &:hover {
      box-shadow:0 2px 4px rgba(0, 0, 0, .4);
    }
  }
}



